# macOS .DS_Store file
**/.DS_Store

# Development purpose files and folders
node_modules
/lib
/test

# VSCode settings
.vscode

# Distribution files
/index.js
index.d.ts

# Build
build.main.sh
build.test.sh
build.iife.js

# website stuff
website-stuff/config.build.sh
website-stuff/config.terser.sh
website-stuff/rollup.config.mjs