@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

$padding: 24px;

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;

    #main-container {
        padding: $padding;
        width: calc(100% - 2 * $padding);
        max-width: calc(500px - 2 * $padding);
        display: flex;
        flex-direction: column;
        align-items: center;

        .yt-video {
            width: calc(100vw - 20px);
            max-width: 600px;
            aspect-ratio: 16 / 9;
            border-radius: 24px;
        }

        .tag-line {
            margin: 8px 0;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
        }

        #npm-install {
            $npm-cmd-padding: 8px;
            $npm-cmd-height: calc(38px - 2 * $npm-cmd-padding);
            border-radius: $npm-cmd-padding;
            margin: 8px 0;
            display: flex;
            align-items: center;
            padding: $npm-cmd-padding;
            height: $npm-cmd-height;
            background-color: rgb(242, 242, 242);

            .svg-emoji-icon {
                height: 100%;
                margin-right: $npm-cmd-padding;
            }

            .copy-icon {
                height: 100%;
                aspect-ratio: 1;
            }

            .npm-cmd {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .btns {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn {
                padding: 6px 16px;
                margin: 8px 4px;
                font-size: 18px;
                font-weight: 600;
                color: white;
                background-color: black;
                border: none;
                border-radius: 50px;
                text-decoration: none;
                text-align: center;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .author-credits {
            display: flex;
            align-items: center;
            .author-photo-link {
                margin-right: 6px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .author-photo {
                    $img-size: 24px;
                    width: $img-size;
                    border-radius: $img-size * 0.23;
                }
            }
            .author-text {
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                margin: 16px 0;
                font-weight: 500;
                color: black;
            }
        }
    }

    #dynamic-colors-live-preview {
        opacity: 0;
        transition: opacity 0.4s ease, z-index 0.4s ease;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: -1;

        background-color: rgb(242, 242, 242);
        display: flex;
        flex-direction: column;
        align-items: center;

        &.show {
            opacity: 1;
            z-index: 10;
        }

        .preview-controls {
            $preview-controls-padding: 6px;
            padding: $preview-controls-padding;
            width: calc(100% - 2 * $preview-controls-padding);
            height: calc(38px - 2 * $preview-controls-padding);

            display: flex;
            align-items: center;
            justify-content: space-between;

            .share-dynamic-colors-preview,
            #close-dynamic-colors-preview {
                height: 100%;

                background-color: transparent;
                transition: background-color 0.4s ease, color 0.4s ease;
                color: black;
                border: none;
                border-radius: 6px;
                font-size: 16px;
                padding: 2px 6px;

                &:hover {
                    background-color: white;
                    cursor: pointer;
                }
            }

            .preview-title {
                font-size: 18px;
                font-weight: 500;
            }
        }

        #dynamic-colors-preview {
            width: 100%;
            height: calc(100% - 38px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background-color: white;

            .preview-iframe {
                width: 100%;
                height: 100%;
            }

            .window-size-warning {
                font-size: 20px;
                padding: 0 6px;
                text-align: center;
                .highlight-content {
                    margin: 0 2px;
                    padding: 2px 6px;
                    border-radius: 6px;
                    font-weight: 600;
                    &.hl-red {
                        background-color: rgba(255, 0, 0, 0.24);
                    }
                    &.hl-green {
                        background-color: rgba(0, 255, 0, 0.24);
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    body {
        #main-container {
            .library-name {
                font-size: 54px;
            }
            .tag-line {
                font-size: 18px;
            }
            .btns {
                flex-direction: column;
            }
        }
    }
}
